body {
    background-color: black;
}

.main-content-wrapper {
    position: relative;
    border: 1px solid #4AF626;
    margin: auto auto;
    padding: 20px;
    width: 94%;
    height: 77%;
    top: .5vh;
}

.win-title {
    color: #4af626;
    font-family: monospace;
    font-size: 20px;
    margin: 25px 0 -5px 25px;
    font-weight: 1000;
}
