body {
    background-color: #111;
    font-family: VCR OSD Mono,sans-serif;
}

.main-content-wrapper::-webkit-scrollbar {
    display: none;
}

.emain-content-wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.main-content-wrapper {
    position: relative;
    border: 1px solid #0aff00;
    margin: auto auto;
    padding: 20px;
    width: 885px;
    height: 77%;
    top: .5vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.win-title-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-right: 725px;
    margin-bottom: -24px;
}

.win-title {
    position: relative;
    color: #0aff00;
    font-size: 1.2rem;
    font-weight: 1000;
}

.inside-title {
    color: #87ceeb;
    text-align: center;
    font-size: 2rem;
    margin-top: 3px;
}

.inside-subtitle {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    margin-top: -20px;
    font-weight: bold;
}

.nav-wrapper {
    position: relative;
    border: 1px solid #0aff00;
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -5px;
}

.channel-link {
    position: relative;
    text-align: center;
    width: 50%;
    padding: 15px 0;
    border-right: 1px solid #0aff00;
    text-decoration: none;
    color: #0aff00;
    font-weight: bold;
}

.info-link {
    position: relative;
    text-align: center;
    padding: 15px 0;
    width: 50%;
    text-decoration: none;
    color: #0aff00;
    font-weight: bold;
}

.info-link-active {
    position: relative;
    text-align: center;
    padding: 15px 0;
    width: 50%;
    text-decoration: none;
    color: #111;
    background-color: #0aff00;
    font-weight: bold;
}

.channel-link-active {
    position: relative;
    text-align: center;
    width: 50%;
    padding: 15px 0;
    border-right: 1px solid #0aff00;
    text-decoration: none;
    color: #111;
    background-color: #0aff00;
    font-weight: bold;
}

.about-title {
    color: #87ceeb;
    margin-top: 25px;
    margin-left: -5px;
    font-size: 1.6rem;
}

.info-content {
    color: #0aff00;
    font-size: 1.2rem;
}

.hacker-manifesto-link {
    text-decoration: none;
    color: #87ceeb;
    font-weight: bold;
}

.hacker-manifesto-link:hover {
    text-decoration: underline;
}

.hacker-ethic-link {
    text-decoration: none;
    color: #87ceeb;
    font-weight: bold;
}

.hacker-ethic-link:hover {
    text-decoration: underline;
}

.libcasa-link {
    text-decoration: none;
    color: #87ceeb;
    font-weight: bold;
}

.libcasa-link:hover {
    text-decoration: underline;
}

.klout-link {
    text-decoration: none;
    color: #87ceeb;
    font-weight: bold;
}

.klout-link:hover {
    text-decoration: underline;
}

.truecast-link {
    text-decoration: none;
    color: #87ceeb;
    font-weight: bold;
}

.truecast-link:hover {
    text-decoration: underline;
}

.haru {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #0aff00;
    border-radius: 5px;
}

.xmpp-title {
    color: #87ceeb;
    font-size: 1.5rem;
}

.xmpp-content {
    color: #0aff00;
    font-size: 1.25rem;
}

.irc-title {
    color: #87ceeb;
    font-size: 1.5rem;
}

.irc-content {
    color: #0aff00;
    font-size: 1.25rem;
}

.grid-container {
    margin-top: 20px;
    margin-left: 10px;
    display: grid;
}

.blog-link {
    position: relative;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #0aff00;
    border-radius: 5px;
    top: 50px;
    left: -290px;
    text-decoration: none;
    color: #0aff00;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.35s;
}

.blog-link:hover {
    box-shadow: 5px 5px 5px #0aff00;
    background-color: #0aff00;
    color: #111;
    border: 1px solid #111;
}

.rick-blog {
    position: relative;
    left: -5px;
    border: 1px solid #0aff00;
    border-radius: 5px;
}

.hackmacs {
    position: relative;
    left: 295px;
    top: -306px;
    border: 1px solid #0aff00;
    border-radius: 5px;
}

.hackmacs-link {
    position: relative;
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #0aff00;
    border-radius: 5px;
    left: 10px;
    top: -256px;
    text-decoration: none;
    color: #0aff00;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.35s;
}

.hackmacs-link:hover {
    box-shadow: 5px 5px 5px #0aff00;
    background-color: #0aff00;
    color: #111;
    border: 1px solid #111;
}

.gameimg {
    position: relative;
    left: 595px;
    border: 1px solid #0aff00;
    border-radius: 5px;
    top: -612px;
}

.game-link {
    position: relative;
    padding-left: 107px;
    padding-right: 107px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #0aff00;
    border: 1px solid #0aff00;
    border-radius: 5px;
    left: 313px;
    top: -563px;
    transition: background-color 0.35s;
}

.game-link:hover {
    box-shadow: 5px 5px 5px #0aff00;
    background-color: #0aff00;
    color: #111;
    border: 1px solid #111;
}

.github {
    position: relative;
    top: -515px;
    left: -4px;
    border: 1px solid #0aff00;
    border-radius: 5px;
}

.github-link {
    position: relative;
    top: -464px;
    left: -288px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #0aff00;
    border: 1px solid #0aff00;
    border-radius: 5px;
    padding: 15px 110px;
    transition: background-color 0.35s;
}

.github-link:hover {
    border: 1px solid #111;
    color: #111;
    background-color: #0aff00;
    box-shadow: 5px 5px 5px #0aff00;
}

.gittea {
    position: relative;
    top: -820px;
    left: 300px;
    border: 1px solid #0aff00;
    border-radius: 5px;
}

.gittea-link {
    position: relative;
    top: -770px;
    left: 13px;
    border: 1px solid #0aff00;
    border-radius: 5px;
    padding: 15px 115px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #0aff00;
    transition: background-color 0.35s;
}

.gittea-link:hover {
    background-color: #0aff00;
    color: #111;
    box-shadow: 5px 5px 5px #0aff00;
    border: 1px solid #111;
}
