body {
    background-color: black;
    font-family: VCR OSD Mono,sans-serif;
}

.main-content-wrapper {
    position: relative;
    border: 1px solid #0aff00;
    margin: auto auto;
    padding: 20px;
    width: 94%;
    height: 77%;
    top: .5vh;
}

.win-title {
    color: #0aff00;
    font-size: 1.2rem;
    margin: 25px 0 -5px 30px;
    font-weight: 1000;
}

.inside-title {
    color: #87ceeb;
    text-align: center;
    font-size: 2rem;
    margin-top: 3px;
}

.inside-subtitle {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    margin-top: -20px;
    font-weight: bold;
}

.nav-wrapper {
    position: relative;
    border: 1px solid #0aff00;
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
}

.channel-link {
    position: relative;
    text-align: center;
    width: 50%;
    padding: 15px 0;
    border-right: 1px solid #0aff00;
    text-decoration: none;
    color: #0aff00;
}

.info-link {
    position: relative;
    text-align: center;
    padding: 15px 0;
    width: 50%;
    text-decoration: none;
    color: #0aff00;
}
